#head-title h1 {
    margin-bottom: 0;
}
#head-title h2 {
    font-size: 1.4em;
    margin: 0;
}
#portal-column-content {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
}
#santa-top {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}
section#santa-about ul {
  text-align: right;
}
section#santa-about ul li {
  background-color: rgba(233, 150, 122, 0.7);
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  display: inline;
  margin-right: 1em;
  padding: 0.5em;
}
section.santa-feed{
  clear: both;
}
section.santa-feed h1 {
  border-bottom: 0.1em solid DarkRed;
}
section.santa-feed article {
  clear: both;
  margin-bottom: 0.5em;
}
section.santa-feed article h1 {
  font-size: 1.3em;
  border-bottom: 0.1em;
}
section.santa-feed article h2 {
  color: gray;
  font-size: 1em;
  font-weight: normal;
  margin: 0.1em 0;
}
section.santa-feed article p {
  font-size: 1em;
  font-weight: normal;
  margin: 0.1em 0;
}
section.santa-feed article img {
  float: left;
  margin: 0 0.5em 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
}
section.partners article img {
  float: left;
  margin: 0 0.5em 0.5em;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
section.santa-feed article img.santa-fall-back {
  width: 200px;
}
p.read-more {
  text-align: right;
}
p.read-more a{
  background-color: rgba(233, 150, 122, 0.7);
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  display: inline;
  margin-right: 1em;
  padding: 0.5em;
}
