/* About */
#about {
    margin: 0 1em;
}

/* Event feed */
section#event-feed {
    clear: both;
}
section#event-feed h1 {
    letter-spacing: 0.1em;
}
section#event-feed > h1 {
    color: darkred;
    border-bottom: 1px solid darkred;
    font-size: 1.5em;
    padding: 0.2em 0.5em 0;
    text-shadow: 2px 2px 3px #999;
}
section#event-feed article {
    margin: 0 1em;
}
section#event-feed article h1 {
    font-size: 1.2em;
    line-height: 1em;
}
section#event-feed .datetime {
    color: #545454;
    font-size: 70%;
}

/* Portlet Santa Claus */
dl.portlet-static-santa-claus dt {
    display: none;
}
dl.portlet-static-santa-claus img{
    border-radius: 1em;
}