body {
    background: url(/++resource++santa.theme/images/background.jpg) center top;
}
a:link, a:visited,
#portal-globalnav .selected a:hover,
#content a:link, dl.portlet a:link,
#content h1.documentFirstHeading {
    color: DarkRed;
}
#visual-portal-wrapper {
    margin: 2em auto;
    width: 1000px;
}
body.portaltype-plone-site #visual-portal-wrapper {
    width: 600px;
}
#portal-top,
#portal-columns,
#portal-footer-wrapper {
    background: rgba(255, 255, 255, 0.5);
}
#portal-top {
    border-radius: 0.5em 0.5em 0 0;
}
#portal-footer-wrapper {
    border-radius: 0 0 0.5em 0.5em;
    margin: 0 0 2em;
}
#portal-logo {
    font-size: 1.7em;
    font-weight: bold;
    margin: 0.5em;
    text-shadow: 2px 2px 3px #999;
}
#portal-languageselector,
#portal-personaltools,
#portal-personaltools dd,
#portal-globalnav li a,
#portal-globalnav .selected a:hover,
div.managePortletsLink,
a.managePortletsFallback,
div.listingBar a:hover {
    background: rgba(233, 150, 122, 0.7);
}
#portal-globalnav .selected a,
#portal-globalnav a:hover {
    background: DarkRed;
}

/* Global navi */
#portal-globalnav li a {
    padding: 0.5em 1em;
    border-radius: 10px;
    margin: 0 0 0.5em;
}

/* Content */
#content h1.documentFirstHeading {
    border-bottom: 1px solid darkred;
    padding: 0.2em 0.5em 0;
    text-shadow: 2px 2px 3px #999;
}
#content h2 {
    text-shadow: 2px 2px 3px #999;
}
#content .documentDescription,
#content #description {
    color: #444444;
}
#portal-footer {
    background: none;
    padding: 1em 3em;
}

@media screen and (max-width: 1000px) {
    #visual-portal-wrapper {
        margin: 0;
        width: 100%;
    }
    body.portaltype-plone-site #visual-portal-wrapper {
        width: 100%;
    }
    #portal-top,
    #portal-footer-wrapper {
        border-radius: 0;
    }
}
